{% extends 'front.base.html.twig' %}

{% block content %}
    <div class="anime">
        <div class="anime__title">
            <h1 class="anime__title__original">{{ anime.originalTitle }}</h1>
            <h2 class="anime__title__translated">({{ anime.translatedTitle }})</h2>
            <div class="anime__actions">
                <a href="#comment" class="btn btn-primary">Donner mon avis !</a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <div  class="anime__image__wrapper">
                    <img src="{{ anime.image }}"  alt="{{ anime.originalTitle }}" class="anime__image"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div  class="anime__resume">
                    <h2>Synopsis :</h2>
                    <p>
                        {{ anime.resume }}
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="anime__informations">
                    <div class="row">
                        <div class="col-sm-12">
                         <span class="release_date__label">
                             Date de sortie :
                         </span>
                            <div class="release_date__date">
                                {{ anime.releaseDate.date|date("d/m/Y") }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="anime__informations">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="anime__informations__tag">
                                {% for tag in anime.tag %}
                                    <div class="anime__tag">
                                        {{ tag.label }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="anime__notes">
            {{ reviews|length }} avis
        </div>
        <div class="anime__comment" id="comment">
            <div class="anime__comment_listing">
                {% for r in reviews %}
                    <div class="anime__comment_show">
                        <div class="row">
                            <div class="col-sm-1">
                                <img src="http://lorempixel.com/75/75/abstract/" class="img-circle">
                            </div>
                            <div class="col-sm-11">
                                <div class="anime__comment_show__content">
                                    <div class="anime__comment_show__author">
                                        {{ r.author }}
                                    </div>
                                    <div class="anime__comment_show_comment">
                                        {{ r.comment }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="anime__comment_show_note">
                            {{ r.note }} <span><i class="fas fa-star"></i></span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if app.user != null %}
                <div class="anime__comment_new">
                    <div class="anime__rating">
                        {% for i in 1..10 %}
                            <span id="star-{{ i }}" class="anime__star"><i class="fas fa-star"></i></span>
                        {% endfor %}
                    </div>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button class="btn btn-success">Soumettre</button>
                        {{ form_end(form) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}