{% extends 'front.base.html.twig' %}

{% block content %}
    <div class="anime__list">
        <div class="row">
            {% for a in anime %}
                <div class="col-sm-4">
                    <a href="{{ path('anime.show', { 'id' : a.id }) }}" class="anime__link">
                        <div class="card anime__card">
                            <div class="card_img__wrapper">
                                {% if a.image %}
                                    <img class="card-img-top" src="{{ a.image }}" alt="{{ a.originalTitle }}">
                                {% else %}
                                    <img class="card-img-top" src="{{ a.image
                                    }}" alt="Replacer">
                                {% endif %}
                            </div>
                            <div class="card_body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h3>{{ a.originalTitle }}</h3>
                                        <h4><em>{{ a.translatedTitle }}</em></h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <span class="anime__card anime__tag">
                                            {{ a.target }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}