{% extends 'base.html.twig' %}

{% block body %}
    <div class="sidebar_admin">
        <div class="sidebar_admin__logo">
            <a href="{{ path('anime.index') }}">
                <img src="{{ asset('/img/md/logo_md.png') }}">
            </a>
        </div>
        <ul>
            <li class="sidebar_admin__item"><a href="{{ path("dashboard") }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
            <li class="sidebar_admin__item"><a href="{{ path("admin.user.index") }}"><i class="fas fa-users"></i> Utilisateurs</a></li>
            <li class="sidebar_admin__item"><a href="{{ path("admin.anime.index") }}"><i class="fas fa-hat-wizard"></i> Animes</a></li>
            <li class="sidebar_admin__item"><a href="{{ path("admin.target.index") }}"><i class="fas fa-bullseye"></i> Genre</a></li>
            <li class="sidebar_admin__item"><a href="{{ path("admin.tag.index") }}"><i class="fas fa-hashtag"></i> Tag</a></li>

        </ul>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
