{% extends 'base.html.twig' %}

{% block body %}
    <div class="anime__search_bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <a href="{{ path('anime.index') }}">
                        <img src="{{ asset('/img/md/logo_md.png') }}">
                    </a>
                </div>
                <div class="col-sm-4">
                    <input type="text" placeholder="Titre d'anime, genre, etc...">
                </div>
                <div class="col-sm-4">
                    {% if  app.user != null %}
                        <div class="sidebar">
                            <div class="sidebar__img">
                                <img src="{{ app.user.avatar }}">
                            </div>
                            <ul class="sidebar__menu">
                                {% if app.user.roles.0 == 'ROLE_ADMIN' %}
                                    <li class="sidebar__item">
                                        <a href="{{ path('dashboard') }}" class="sidebar__link">
                                            <span class="sidebar__item__space"><i class="fas fa-cogs"></i></span>
                                            Administration
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="sidebar__item">
                                    <a href="{{ path("user.show") }}" class="sidebar__link">
                                        <span class="sidebar__item__space"><i class="fas fa-user"></i></span> Mon compte
                                    </a></li>
                                <li class="sidebar__item"><a href="#" class="sidebar__link">Link 2</a></li>
                                <li class="sidebar__item"><a href="#" class="sidebar__link">Link 3</a></li>
                                <li class="sidebar__item">
                                    <a href="{{ path("app_logout") }}" class="sidebar__link"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
                                </li>
                            </ul>
                        </div>
                        <button class="menu__toggle">
                            <i class="fas fa-bars"></i>
                        </button>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="btn btn-outline-primary btn-darker-outline-blue">Connexion</a>
                        <a href="{{ path('app_register') }}" class="btn btn-primary btn-darker-blue">Inscription</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <div class="overlay"></div>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <p class="footer__title">Vous avez des questions ?</p>
                    <p>Vous trouverez une <a href="{{ path('faq') }}">FAQ</a> complète des questions récurrentes.
                        Vous pouvez également utiliser notre <a href="#">formulaire de contact</a>.</p>
                </div>
                <div class="col-sm-3">
                    <p class="footer__title">ARS</p>
                    <p><a href="#"> Qui sommes-nous ?</a></p>
                </div>
                <div class="col-sm-3">
                    <p class="footer__title">Légale</p>
                    <p><a href="{{ path('gcu') }}"> Conditions générales d'utilisation </a></p>
                    <p><a href="{{ path('legalNotice') }}"> Mentions Légales </a></p>
                    <p>©2019 ARS</p>
                </div>
                <div class="col-sm-3">
                    <p class="footer__title">Suivez-nous !</p>
                    <div class="col-md-12">
                        <ul class="social-network">
                            <li><a href="https://github.com/Anime-Reviewers-Society/Anime-Reviewers-Society"
                                   class="icon">
                                    <i class="fab fa-github-alt"></i></a></li>
                            <li><a href="https://discordapp.com/invite/Hk3V7JP" class="icon">
                                    <i class="fab fa-discord"></i></a></li>
                            <li><a href="https://twitter.com/AnimeReviewersS?s=09" class="icon">
                                    <i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
