{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users</h1>
    {% for u in user %}
        <ul>
            <li>{{ u.id }}</li>
            <li>{{ u.nickname }}</li>
            <li>{{ u.mail }}</li>
            <li>{{ u.status }}</li>
            <li>{{ u.avatar }}</li>
        </ul>
    {% endfor %}
{% endblock %}