{% extends 'front.base.html.twig' %}
{% block title %}ARS | Profil{% endblock %}
{% block content %}
<div class="user">
    <div class="row">
        <div class="col-sm-2">
            <img src="{{ asset('uploads/user_avatar/' ~ user.avatar) }}" class="img-circle" width="150">
            <div class="user__informations">
            </div>
        </div>
        <div class="col-sm-10">
            <div class="user__informations_title">
                <h1>{{ user.username }}</h1>
                <div class="user__actions">
                    <a href="{{ path("profil.edit") }}" class="btn btn-primary btn-darker-blue"><i class="fas fa-user-edit"></i>
                        Modifier</a>
                    <a href="{{ path("app_logout") }}" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i>
                        Déconnexion</a>
                </div>
            </div>
            <p class="user__informations_bio">{{ user.bio|raw }}</p>
        </div>
    </div>
    <hr />
    <h2>Mes reviews</h2>
    <div class="user__reviews">
        {% for r in user.reviews %}
                <div class="anime__comment_show">
                    <div class="row">
                        <div class="col-sm-1">
                            <img src="{{ asset('uploads/user_avatar/' ~ r.author.avatar) }}" width="75" height="75" class="img-circle">
                        </div>
                        <div class="col-sm-11">
                            <div class="anime__comment_show__content">
                                <div class="anime__comment_show__author">
                                    <a href="{{ path('user.show', {'id' : r.author.id}) }}">{{ r.author }}</a>
                                </div>
                                <div class="anime__comment_show_comment">
                                    {{ r.comment|raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="anime__comment_show_note">
                        {{ r.note }} <span><i class="fas fa-star"></i></span>
                    </div>
                </div>
            <a href="#" class="review_caption"></a>
        {% endfor %}
    </div>
</div>
{% endblock %}