{% extends 'admin/dashboard.html.twig' %}

{% block content %}
    <div class="action--back">
        <a href="{{ path("admin.tag.index") }}" class="btn btn-primary"><i class="fas fa-chevron-left"></i> Retour</a>
    </div>
    <hr />
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
{% endblock %}
