{% extends 'admin/dashboard.html.twig' %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre FR</th>
            <th scope="col">Titre original</th>
            <th scope="col">Genres</th>
            <th scope="col">Sous genres</th>
            <th scope="col"><a href="{{ path("admin.anime.new") }}" class="btn btn-primary"><i class="fas fa-user-plus"></i> Ajouter</a></th>
        </tr>
        </thead>
        <tbody>
        {% for a in anime %}
            <tr>
                <th scope="row">{{ a.id }}</th>
                <td><a href="{{ path("admin.anime.show", { 'id' : a.id } ) }}">{{ a.translatedTitle }}</a></td>
                <td>{{ a.originalTitle }}</td>
                <td>{{ a.target }}</td>
                <td>{{ a.tag }}</td>
                <td>
                    <a href="{{ path("admin.anime.show", { 'id' : a.id }) }}" class="btn btn-success"><i class="far fa-eye"></i> Voir</a>
                    <a href="{{ path("admin.anime.edit", { 'id' : a.id } ) }}" class="btn btn-primary"><i class="far fa-edit"></i> Editer</a>
                    <form method="post" action="{{ path('admin.anime.delete', {'id': a.id}) }}" onsubmit="return confirm('Es-tu sûr(e) ?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ a.id) }}">
                        <button class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}